@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot') format('eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-work:before {
	content: "\e602";
}
.icon-place:before {
	content: "\e603";
}
.icon-person:before {
	content: "\e604";
}
.icon-organisation:before {
	content: "\e605";
}
.icon-event:before {
	content: "\e606";
}
.icon-concept:before {
	content: "\e607";
}
.icon-pacman:before {
	content: "\e608";
}
.icon-stack:before {
	content: "\e609";
}
.icon-empty:before {
	content: "\e60a";
}